body {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 21px;
    margin: 0;
}

header, .articles {
    background-color: #252525;
    color: #fff;
}

h1 {
    font-size: 80px;
    font-weight: lighter;
}

h1 span {
    font-size: 80px;
    font-weight: bold;

}

img{
    width: 30vh;
    height: 20vh;
}
.about-me {
    background-color: #C4C4C4;
}
button {
    font-weight: bold;
    height: 5vh;
    background-color: #99D930;
    border: none;
}
button:hover {
    background-color: #131313;
    color: #fff;
}
article > button:hover {
    background-color: #fff;
    color: #252525;
}
span {
    color: #99d930;
    font-weight: 900;
}
h2 {
    font-size: 60px;
    font-weight: lighter;
    border: solid;
    border-left: none;
    border-right: none;
    border-color: #C4C4C4;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 430px;
    margin-left: auto;
    margin-right: auto;
}

h2 span {
    font-size: 60px;
    font-weight: bold;
}
p {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-size: 36px;
}

p, .small {
    font-size: 16px;
}

p a {
    color: #99D930;
}

a:hover {
    color: #131313
}

.content {
    padding: 100px 0;
}
